<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<!--fun with fonts-->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>

	<title>Welcome to Bob's Burgers</title>
</head>

<body>
	<img src="/assets/img/BobsBurgers.png" width="500px" id="burgerfam">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 Leigh Fisher DevDevi</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/lafisher">GitHub</a>
			</div>
		</div>
	</footer>
</body>
</html>
